// Custom styles.
@media (max-width: 767px) {
  .main {
    padding-bottom: 147px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .main {
      padding-bottom: 147px;
  }
}
.posts-expand .post-body img.postImgLeft {
  display: inline-block;
  margin: auto;
  border: none;
  padding: 0;
}
